.important{
    color: rgb(82, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
#goalkeeper{
    background-color: blueviolet;
}
#forward{
    background-color: royalblue;
}